#data
{
	margin:0px auto;
	width:1000px;
}

#modal,#table
{
	margin:20px;
}
#table table {
    border-collapse: collapse;
    width: 100%;
}

#table th,#table td {
    text-align: left;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2}

#table th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}
#table td
{
	padding: 8px;
}

#btn-add
{
	padding: 5px;
	background-color: 		#708090;
}
#data .modal-footer input
{
	float: left;
}